#hero {
  text-align: center;
}

#projects {
  text-align: center;
  margin: 0.1em;
}

#skills {
  text-align: center;
}

#about {
  margin: 0.1em;
}

#about h2 {
  text-align: center;
}

#about p {
  font-size: 20px;
  margin: 1em;
}

.main-header {
  background-color: #9896A4;
}

footer {
  text-align: center;
  vertical-align: bottom;
}
