.sticky-nav {
  position: fixed;
  top: 1%;
  left: 15%;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

#hamburger {
  display: inline-block;
  float: right;
  height: .5em;
  width: 1.4em;
  line-height: 2em;
  font-size: 2em;
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: block;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid black;
}

@media only screen and (min-width: 640px) {

  #hamburger {
    display: none;
  }

  .main-nav {
    padding: .2em .2em .2em 2em;
  }

  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;
  }

  .main-nav ul li:hover a {
    color: #4F84C4;
  }

  .hero-image {
    display: block;
    margin: auto;
  }

}
